CommonFramework/Library/*
CommonFramework/Temp/*
.idea
*.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
.DS_Store
CommonFramework.userprefs
Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
Assembly-CSharp-Editor.dll
Assembly-CSharp-Editor.dll.mdb
Assembly-CSharp.dll
Assembly-CSharp.dll.mdb
